html,

body {
  margin: auto;
  padding: 0 1rem;
  font-family: monospace;
  font-size: 16px;
  color: rgba(0,0,0);
  background-attachment: fixed;
  background-position: center;
  background-color: rgba(255,235,225);
  max-width: 615px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

mark {
  background-color: #FDFCCA;
}

header {
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0 1rem;
}

aside {
  font-size: 1rem;
}

.flag-img {
  float: right;
  width: 55px;
  max-width: 15%;
  margin: 0 0 1rem 1rem;
}

.post-list {
  font-size: 1rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  color: rgb(51,51,153);
}

a:hover { 
  text-decoration: underline;
}

td, th {
  border: 2px solid #999;
  padding: 10px;
}

p {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.toggle-btn {
  font-size: 1rem;
  border: 2px solid #999;
  cursor: pointer;
}

.toggle-btn.active {
  background-color: #fff;
  box-shadow: 0 0 0 3px rgba(0,0,0,0.1);
}

.home-btn {
   color: grey;
}
